/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol,
/* ul, li, */
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* li {
	margin-top: 0;
	margin-bottom: 0;
	border-top: 0;
	border-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
} */

span {
	display:inline-block;
	width: 100%;
	/* background:red; */
	/* padding:5px; */
}


.line-top {
	width:100%;
	/* background:#bada55; */
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

/* ol, ul {
	list-style: none;
} */

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */



body {
	font: normal normal 400;
	font-size: 12pt;
	line-height: 1.35em;
	/*also written as...  font: normal normal 400 100%/1.5em;*/
	font-family: Avenir,Verdana,sans-serif;
	/*margin-top: 1em;
	margin-left: 1em;*/
}

p {
	position: relative;
	left: 25%;
	margin-bottom: 0.2em;
	margin-right: 0;
	width: 60%;
}

code {
	font: normal normal;
	font-size: 90%;
	/*line-height: 1em;*/
	font-family: Monaco,Menlo,monospace,sans-serif;
	color: #ccc;
}

p code {
	position: absolute;
	text-align: right;
	right: -20%;
}


ul { 
	position: relative;
	left: 22.2%;
	/* left: 22%; */
	width: 60%;
	margin-bottom: 1em;
	margin-top: 0em;
	/*margin-top: -0.5em;*/
}

/* uncomment to get dashes in the list */
/* li:before {
	content: "-";
	position: relative;
	left: -0.25em;
} */

li {
	/*second line indent*/
	/* padding-left: 1.25em;
	text-indent: -1.25em; */
	/*color: #777;*/
}

li ul {
	position: relative;
	left: 0;
	width: 100%;
	margin-top: 0.25em;
}

table {
	text-align: left;
	position: relative;
	left: 25%;
}

.next-column {
	padding-left: 15px;
}

h1,h2,h3,h4 {
	font-weight: 400;
	font-family: Avenir,Cousine,Verdana,sans-serif;
	width: 80%;
}

h1 {
	text-align: left;
	font-size: 3em;
	line-height: 1em;
	position: relative;
	left: 25%;
}

h1+p { 
	/*subtitle*/
	font-style: italic;
	font-size: 110%;
}

h2 {
	font-size: 1.1em;
	color: #a00;
	margin-top: 2em;
	position: relative;
	top: 1.2em;
	text-align: right;
	width: 20%;
}

.category {
	font-size: 1.1em;
	margin-top: 3em;
	position: relative;
	top: 1.4em;
	width: 100%;
	/* left: 200px; */
	display: flex;
	flex-flow: row wrap;
}

#profile-pic {
	position: absolute;
	top: 6px;
	left: 2.3em;
	width: 20%;
	height: auto;
}


h3 {
	font-size: 1em;
	line-height: 2em; 
	color: #ccc;
	position: relative;
	top: 1.6em;
	text-align: right;
	width: 20%;
}

a {
	color: inherit;
	text-decoration:none
}

a:hover {
	color:#39f
}

#webaddress {
	margin-top: 1em;
	position: relative;
	left: 25%;
	color: #ccc;
	font-family: Monaco,Menlo,monospace,sans-serif;
	font-size: 90%;
}

#webaddress a {
	text-decoration: none;
}

em {
	font-style: normal;
	color: #2d4e5e 
}

strong {
	font-weight: bold;
}

#ghbutton {
	display: none;
	visibility: hidden;
}




